.nav-container-right {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
}

.nav-container-center {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.nav-container-left {
  position: absolute;
  left: 15px;
}
