.nav-container-right {
  margin: auto 0;
  right: 0px;
  display: flex;
  align-items: center;
}

.nav-container-center {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.nav-container-left {
  margin: auto 0;
  left: 15px;
}

.nav-bar-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
